.app {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
  }
  
  .app-header {
    display: flex;
    align-items: center;
    gap: 4px
  }
  
  .app-header-block {
    display: flex;
    flex-direction: column;
  }
  
  .app-header-blockUser {
    opacity: .6;
  }
  
  .app-header-img {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
  }
  
  .app-aside-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
  }

  .app-aside-button:hover {
    opacity: .8;
  }
  
  .app-aside-button.following {
    border: 1px solid #bbb;
    background: transparent;
    color: #fff;
    width: 140px;
  }
  
  .app-aside-button.following:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
  }

  .app-aside-baseText {
    display: block;
  }
  
  .app-aside-button.following:hover .app-aside-baseText {
    display: none;
  }
  
  .app-aside-button.following:hover .app-aside-conditionalText {
    display: block;
  }
  
  .app-aside-conditionalText {
    display: none;
  }